[project]
name = "{{ pip_slug }}"
version = "{{ project_version }}"
description = "{{ project_description}}"
readme = "README.md"
requires-python = ">={{ python_version }}"
authors = [
    {name = "{{ full_name }}", email = "{{ email}}"},
]
maintainers = [
    {name = "{{ full_name }}", email = "{{ email}}"},
]
classifiers = [
    "License :: OSI Approved :: {{ copyright_license }}",
    "Programming Language :: Python :: {{ python_version }}",
]
dependencies = [
]

[project.urls]
Homepage = "https://github.com/{{gh_owner}}/{{git_slug}}"
Documentation = "https://github.com/{{gh_owner}}/{{git_slug}}"
Repository = "https://github.com/{{gh_owner}}/{{git_slug}}.git"

[dependency-groups]
test = [
    "pytest>=9.0.2",
]
stubs = []

[build-system]
requires = ["uv_build>=0.11.29,<0.12.0"]
build-backend = "uv_build"

[tool.uv.build-backend]
module-name = "{{ module_slug }}"

[tool.pyright]
include = ["src", "tests", "examples"]
typeCheckingMode = "strict"
pythonVersion = "{{ python_version }}"

{%- if use_ruff %}

[tool.ruff]
line-length = 120
target-version = "py{{ python_version.replace('.', '') }}"
{%- endif %}
