{
    "python.testing.pytestEnabled": true,
    "python.testing.pytestArgs": [
        "-c",
        "pyproject.toml"
    ],
    "[python]": {
        {%- if use_ruff %}
        "editor.defaultFormatter": "charliermarsh.ruff",{% endif %}
        "editor.formatOnSave": true,
        "editor.codeActionsOnSave": {
            "source.organizeImports": "always"
        }
    },
    "files.exclude": {
        "**/.*_cache": true,
    }{%- if use_ruff %},
    "ruff.configuration": "pyproject.toml"{% endif %}
}