{
    "python.testing.pytestEnabled": true,
    "python.testing.pytestArgs": ["-c", "pyproject.toml"],
    "[python]": {
        {%- if use_ruff %}
        "editor.defaultFormatter": "charliermarsh.ruff",{% endif %}
        "editor.formatOnSave": true,
        "editor.codeActionsOnSave": {
            "source.organizeImports": "explicit"
        }
    }{%- if use_ruff %},
    "ruff.configuration": ".config/.ruff.toml"{% endif %}
}
